<nav class="sport-tabs" aria-label="Sports editions">
  <a class="sport-tab{% if active_sport == 'baseball' %} is-active{% endif %}" href="{% if active_sport == 'baseball' %}./{% else %}../{% endif %}"{% if active_sport == 'baseball' %} aria-current="page"{% endif %}>MLB</a>
  <a class="sport-tab{% if active_sport == 'football' %} is-active{% endif %}" href="{% if active_sport == 'baseball' %}football/{% elif active_sport == 'football' %}./{% else %}../football/{% endif %}"{% if active_sport == 'football' %} aria-current="page"{% endif %}>NFL</a>
  <a class="sport-tab{% if active_sport == 'ncaaf' %} is-active{% endif %}" href="{% if active_sport == 'baseball' %}ncaaf/{% elif active_sport == 'football' %}../ncaaf/{% else %}./{% endif %}"{% if active_sport == 'ncaaf' %} aria-current="page"{% endif %}>NCAAF</a>
</nav>
